In [1]:
import numpy as np
import pandas as pd
import json

In [2]:
from shapely.geometry import Point,Polygon

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [4]:
!ls
import os
os.chdir("drive/My Drive/Homeless-dataset/HomelessLA")
!ls

drive  sample_data
Homelessness_Multi_Year_Final.csv

In [ ]:
with open("polygons/la_homeless_facilities.geojson") as f:
  facilities = json.load(f)

In [ ]:
data = []
for row in  facilities["features"]:
  org = row["properties"]["organization"]
  adr = row["properties"]["address"]
  lat = row["properties"]["latitude"]
  lon = row["properties"]["longitude"]
  data.append({
      "organization":org,
      "address" : adr,
      "latitude" : lat,
      "longitude" : lon

  })

homeless_facilities_df = pd.DataFrame(data)
homeless_facilities_df.head()

,organization,address,latitude,longitude
0,Downtown Women's Center,"442 San Pedro St., Los Angeles, CA 90013",34.04464,-118.24340
1,Home At Last Community Development Corporation,"5165 Vermont Ave, Los Angeles, CA 90037, USA",33.99549,-118.29180
2,"First To Serve, Inc.","202 W 91st St, Los Angeles, CA 90003, USA",33.95356,-118.27617
3,"First To Serve, Inc.","200 W 91st St, Los Angeles, CA 90003, USA",33.95357,-118.27608
4,Casa Azul,"1920 3rd Street, Los Angeles, CA 90057",34.06197,-118.27094

In [60]:
tract_df = pd.read_csv("neighborhoods/tract-neighborhood-allocation.csv",dtype = {"tract":str})
tract_df["tract"] = tract_df["tract"].str.slice(start=-6)

tract_df.head()

    tract     name  tract_percent
0  101110  Tujunga       1.000000
1  101122  Sunland       0.003235
2  101122  Tujunga       0.996765
3  101210  Tujunga       1.000000
4  101220  Tujunga       1.000000

In [71]:
homeless_count_df = pd.read_excel("homelesscount/homeless-count-2019-results-by-census-tract.xlsx",
                                  sheet_name = 'Counts_by_Tract',
                                  dtype = {"tract":str})
# homeless_count_df["tract"] = homeless_count_df["tract"].apply(lambda x : )
homeless_count_df.head()

/usr/local/lib/python3.7/dist-packages/openpyxl/worksheet/header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")

,tract,Year,City,LACity,Community_Name,SPA,SD,CD,DemogSurvCt,YouthSurvCt,...,totSHYouthSingYouth,totSHYouthFamHH,totSHYouthFamMem,totSHYouthUnaccYouth,totUnsheltPeople,totESPeople,totTHPeople,totSHPeople,totSheltPeople,totPeople
0,101110,2019,Los Angeles,1,Tujunga,2,5,7,0,1,...,0,0,0,0,12.614,0,0.0,0,0,12.614
1,101122,2019,Los Angeles,1,Tujunga,2,5,7,0,0,...,0,0,0,0,1.000,0,0.0,0,0,1.000
2,101210,2019,Los Angeles,1,Tujunga,2,5,7,0,0,...,0,0,0,0,14.517,0,0.0,0,0,14.517
3,101220,2019,Los Angeles,1,Tujunga,2,5,7,0,0,...,0,0,0,0,24.058,0,0.0,0,0,24.058
4,101300,2019,Los Angeles,1,Tujunga,2,5,7,0,0,...,0,0,0,0,9.278,0,0.0,0,0,9.278

In [72]:
merged_df = pd.merge(homeless_count_df,tract_df)
merged_df.head()

,tract,Year,City,LACity,Community_Name,SPA,SD,CD,DemogSurvCt,YouthSurvCt,...,totSHYouthFamMem,totSHYouthUnaccYouth,totUnsheltPeople,totESPeople,totTHPeople,totSHPeople,totSheltPeople,totPeople,name,tract_percent
0,101110,2019,Los Angeles,1,Tujunga,2,5,7,0,1,...,0,0,12.614,0,0.0,0,0,12.614,Tujunga,1.000000
1,101122,2019,Los Angeles,1,Tujunga,2,5,7,0,0,...,0,0,1.000,0,0.0,0,0,1.000,Sunland,0.003235
2,101122,2019,Los Angeles,1,Tujunga,2,5,7,0,0,...,0,0,1.000,0,0.0,0,0,1.000,Tujunga,0.996765
3,101210,2019,Los Angeles,1,Tujunga,2,5,7,0,0,...,0,0,14.517,0,0.0,0,0,14.517,Tujunga,1.000000
4,101220,2019,Los Angeles,1,Tujunga,2,5,7,0,0,...,0,0,24.058,0,0.0,0,0,24.058,Tujunga,1.000000

In [83]:
merged_df.loc[merged_df['name'] == "Downtown"]

,tract,Year,City,LACity,Community_Name,SPA,SD,CD,DemogSurvCt,YouthSurvCt,...,totSHYouthFamMem,totSHYouthUnaccYouth,totUnsheltPeople,totESPeople,totTHPeople,totSHPeople,totSheltPeople,totPeople,name,tract_percent
875,197600,2019,Los Angeles,1,Angelino Heights,4,1,1,0,0,...,0,0,53.598,0,0.0,0,0,53.598,Downtown,0.105234
876,197700,2019,Los Angeles,1,Elysian Park/Solano Canyon/Other,4,1,1,0,0,...,0,0,11.150,0,0.0,0,0,11.150,Downtown,0.002274
956,206020,2019,Los Angeles,1,Chinatown/Wholesale District,4,1,14,7,5,...,0,0,141.210,0,0.0,0,0,141.210,Downtown,0.384379
957,206031,2019,Los Angeles,1,Arts District/Fashion District,4,1,14,7,1,...,0,0,258.320,0,0.0,0,0,258.320,Downtown,0.968097
963,206200,2019,Los Angeles,1,Little Tokyo/Skid Row,4,1,14,190,1,...,0,0,650.360,35,20.0,0,55,705.360,Downtown,0.608312
966,206300,2019,Los Angeles,1,Skid Row,4,2,14,161,14,...,0,0,1271.700,1253,655.0,0,1908,3179.700,Downtown,0.003641
967,207101,2019,Los Angeles,1,Chinatown,4,1,1,0,0,...,0,0,37.683,0,0.0,0,0,37.683,Downtown,0.619234
970,207102,2019,Los Angeles,1,Chinatown/El Pueblo,4,1,1,0,0,...,0,0,196.970,39,0.0,0,39,235.970,Downtown,0.398970
973,207301,2019,Los Angeles,1,Fashion District/Historic Core,4,1,14,22,3,...,0,0,117.590,205,147.0,0,352,469.590,Downtown,1.000000
975,207302,2019,Los Angeles,1,Historic Core,4,1,14,0,1,...,0,0,76.373,0,0.0,0,0,76.373,Downtown,0.999559
976,207400,2019,Los Angeles,1,Civic Center/Bunker Hill/Little Tokyo,4,1,14,0,2,...,0,0,183.700,0,0.0,0,0,183.700,Downtown,1.000000
977,207501,2019,Los Angeles,1,Civic Center/Bunker Hill,4,1,14,0,0,...,0,0,23.197,0,0.0,0,0,23.197,Downtown,1.000000
978,207502,2019,Los Angeles,1,Civic Center/Bunker Hill/Historic Core,4,1,14,0,0,...,0,0,34.535,0,0.0,0,0,34.535,Downtown,1.000000
979,207710,2019,Los Angeles,1,Civic Center/Bunker Hill/Historic Core/Other,4,1,14,52,0,...,0,0,211.680,78,19.0,0,97,308.680,Downtown,1.000000
980,207900,2019,Los Angeles,1,Fashion District/Historic Core/Other,4,1,14,0,0,...,0,0,99.456,0,0.0,0,0,99.456,Downtown,1.000000
983,208000,2019,Los Angeles,1,Civic Center/Bunker Hill/Temple-Beaudry,4,1,1,13,0,...,0,0,53.742,0,0.0,0,0,53.742,Downtown,0.156454
1005,209200,2019,Los Angeles,1,Civic Center/Bunker Hill/Westlake,4,1,1,0,0,...,0,0,46.614,76,NaN,0,76,122.610,Downtown,0.136624
1006,209300,2019,Los Angeles,1,Westlake,4,1,1,0,0,...,0,0,77.085,0,0.0,0,0,77.085,Downtown,0.009760
1019,210010,2019,Los Angeles,1,Pico-Union,4,1,1,0,0,...,0,0,90.902,0,0.0,0,0,90.902,Downtown,0.037359
1235,224010,2019,Los Angeles,1,Fashion District/South Park (Downtown),4,1,14,0,0,...,0,0,128.430,0,0.0,0,0,128.430,Downtown,1.000000
1237,224020,2019,Los Angeles,1,Fashion District/South Park (Downtown)/Other,4,1,9,79,5,...,0,0,615.510,0,0.0,0,0,615.510,Downtown,0.266847
1240,224200,2019,Los Angeles,1,Pico-Union,4,1,1,13,0,...,0,0,60.540,0,0.0,0,0,60.540,Downtown,0.021347
1244,224410,2019,Los Angeles,1,University Park,6,1,1,0,0,...,0,0,25.927,0,0.0,0,0,25.927,Downtown,0.001373
1255,226001,2019,Los Angeles,1,Central/Fashion District,4,2,9,0,1,...,0,0,230.750,0,0.0,0,0,230.750,Downtown,0.518591
1257,226002,2019,Los Angeles,1,Fashion District/Skid Row,4,2,14,0,6,...,0,0,525.140,0,0.0,0,0,525.140,Downtown,0.926161
1265,228100,2019,Los Angeles,1,Vernon Central,6,2,9,0,0,...,0,0,14.672,0,0.0,0,0,14.672,Downtown,0.000337
1790,532400,2019,Unincorporated/Vernon,2,Unincorporated Bandini Islands/Vernon,7,1,0,10,0,...,0,0,154.440,0,0.0,0,0,154.440,Downtown,0.000002

In [48]:
with open("neighborhoods/custom-la-hoods-skid-row.geojson") as f:
  neighbs = json.load(f)

In [49]:
neighbs.keys()

dict_keys(['type', 'crs', 'features'])

In [50]:
data = []
for row in  neighbs["features"]:
  # print(row)
  name = row["properties"]["name"]
  coordinates = row["geometry"]["coordinates"][0][0]
  data.append({
      "name":name,
      "coordinates" : coordinates
  })
neigh_df = pd.DataFrame(data)
neigh_df.head()

                     name                                        coordinates
0         Adams-Normandie  [[-118.3090080000001, 34.03741099912408], [-11...
1                  Arleta  [[-118.4220150000001, 34.22410299912182], [-11...
2       Arlington Heights  [[-118.315909, 34.05261099912384], [-118.31340...
3         Atwater Village  [[-118.27832473089676, 34.15300714529624], [-1...
4  Baldwin Hills/Crenshaw  [[-118.35626100000013, 34.0248359991243], [-11...

In [51]:
neigh_df.loc[113,:]

name                                                    Downtown
coordinates    [[-118.24020700000014, 34.05871099912385], [-1...
Name: 113, dtype: object

In [55]:
all_shelters = []
for i in range(len(neigh_df)):
  coords = neigh_df.loc[i,"coordinates"]
  shelters = []
  if coords:
    poly = Polygon(coords)
    for j in range(len(homeless_facilities_df)):
      point = Point(homeless_facilities_df.loc[j,"longitude"], homeless_facilities_df.loc[j,"latitude"])
      if point.within(poly):
        shelters.append(homeless_facilities_df.loc[j,"organization"])
  all_shelters.append(shelters)
neigh_df["shelters"] = all_shelters
neigh_df.head()

,name,coordinates,shelters
0,Adams-Normandie,"[[-118.3090080000001, 34.03741099912408], [-11...",[]
1,Arleta,"[[-118.4220150000001, 34.22410299912182], [-11...",[]
2,Arlington Heights,"[[-118.315909, 34.05261099912384], [-118.31340...",[]
3,Atwater Village,"[[-118.27832473089676, 34.15300714529624], [-1...",[]
4,Baldwin Hills/Crenshaw,"[[-118.35626100000013, 34.0248359991243], [-11...",[]

In [ ]:
#shelter : shelter-name, lat long
#neighb : com-name, boundary of coordinates
#whicgh neighb has which shelter 
#neigb : [list of shelters]

In [56]:
neigh_df

,name,coordinates,shelters
0,Adams-Normandie,"[[-118.3090080000001, 34.03741099912408], [-11...",[]
1,Arleta,"[[-118.4220150000001, 34.22410299912182], [-11...",[]
2,Arlington Heights,"[[-118.315909, 34.05261099912384], [-118.31340...",[]
3,Atwater Village,"[[-118.27832473089676, 34.15300714529624], [-1...",[]
4,Baldwin Hills/Crenshaw,"[[-118.35626100000013, 34.0248359991243], [-11...",[]
...,...,...,...
110,Windsor Square,"[[-118.313709, 34.07630999912366], [-118.31380...",[]
111,Winnetka,"[[-118.562213, 34.231502999121666], [-118.5621...",[]
112,Woodland Hills,"[[-118.57569, 34.18822399912241], [-118.573619...",[]
113,Downtown,"[[-118.24020700000014, 34.05871099912385], [-1...","[Downtown Women's Center, Weingart Center Asso..."
114,Skid Row,"[[-118.2381244, 34.04325639999996], [-118.2397...","[Downtown Women's Center, Weingart Center Asso..."

In [78]:
nearest_shelters = []
for i in range(len(neigh_df)):
  coords = neigh_df.loc[i,"coordinates"]
  poly = Polygon(coords)
  distances = []

  for j in range(len(homeless_facilities_df)):
    point = Point(homeless_facilities_df.loc[j,"longitude"], homeless_facilities_df.loc[j,"latitude"])
    distances.append([j,poly.distance(point)])

  distances.sort(key = lambda x :x[1])
  # print(distances)
  nearest_index = distances[0][0]
  # print(nearest_index)
  nearest_shelters.append(homeless_facilities_df.loc[nearest_index,"organization"])

#   all_shelters.append(shelters)
neigh_df["nearest_shelters"] = nearest_shelters
neigh_df.head()

,name,coordinates,shelters,nearest_shelters
0,Adams-Normandie,"[[-118.3090080000001, 34.03741099912408], [-11...",[],Redacted
1,Arleta,"[[-118.4220150000001, 34.22410299912182], [-11...",[],Hope Of The Valley Rescue Mission
2,Arlington Heights,"[[-118.315909, 34.05261099912384], [-118.31340...",[],Sanctuary of Hope
3,Atwater Village,"[[-118.27832473089676, 34.15300714529624], [-1...",[],Casa Azul
4,Baldwin Hills/Crenshaw,"[[-118.35626100000013, 34.0248359991243], [-11...",[],Sanctuary of Hope

In [80]:
len(homeless_facilities_df)

36

In [91]:
homeless_la_df = pd.read_csv("Homelessness_Multi_Year_Final.csv")
homeless_la_df.head()

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (14) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,Unnamed: 0,Survey_Year,Birth_Year,Age,Gender,Ethnicity,Race_Full,Race_Recode,Veteran,Chronic_Time,...,Physical_Disability,Mental_Illness,Alcohol_Abuse,Drug_Abuse,Drug_Alcohol_History,HIV_Positive,Part_Time,Full_Time,Unemployed_Looking,Unemployed_Not_Looking
0,1,Unsheltered 2011,1993.0,18.0,Female,European American,White,European American,0,0,...,0,0,0.0,0.0,1,0,0.0,0.0,1.0,0.0
1,2,Unsheltered 2011,1964.0,46.0,Female,African American,Black-African-American,African American,0,0,...,0,1,0.0,0.0,0,0,0.0,0.0,1.0,0.0
2,3,Unsheltered 2011,1956.0,55.0,Male,European American,White,European American,0,1,...,1,0,0.0,0.0,0,0,0.0,0.0,1.0,0.0
3,4,Unsheltered 2011,1960.0,50.0,Male,European American,White,European American,1,1,...,0,0,1.0,0.0,1,0,0.0,0.0,1.0,0.0
4,5,Unsheltered 2011,1979.0,31.0,Male,Latino,BLANK,Unknown,0,0,...,0,0,0.0,0.0,0,0,0.0,0.0,1.0,0.0

In [92]:
homeless_la_df.columns

Index(['Unnamed: 0', 'Survey_Year', 'Birth_Year', 'Age', 'Gender', 'Ethnicity',
       'Race_Full', 'Race_Recode', 'Veteran', 'Chronic_Time',
       'Chronic_Condition', 'Chronic', 'Adult_With_Child',
       'Times_Homeless_3yrs', 'Times_Homeless_Past_Year',
       'Current_Stint_Duration', 'SPA', 'Census_Tract',
       'Physical_Sexual_Abuse', 'Physical_Disability', 'Mental_Illness',
       'Alcohol_Abuse', 'Drug_Abuse', 'Drug_Alcohol_History', 'HIV_Positive',
       'Part_Time', 'Full_Time', 'Unemployed_Looking',
       'Unemployed_Not_Looking'],
      dtype='object')

In [93]:
homeless_la_df.Chronic.value_counts()

0.0    54814
1.0    17361
Name: Chronic, dtype: int64

In [51]:
len(homeless_la_df)

73153

In [94]:
from sklearn.preprocessing import OneHotEncoder

In [46]:
features = ['Age','Veteran', 'Chronic_Time',
       'Chronic_Condition', 'Adult_With_Child','Physical_Sexual_Abuse', 'Physical_Disability', 'Mental_Illness',
       'Alcohol_Abuse', 'Drug_Abuse', 'Drug_Alcohol_History', 'HIV_Positive',
       'Part_Time', 'Full_Time', 'Unemployed_Looking',
       'Unemployed_Not_Looking']


homeless_la_df.dropna(inplace= True)
for col in features:
  homeless_la_df[col] = homeless_la_df[col].fillna( homeless_la_df[col].mode())

X = homeless_la_df[features]
Y = homeless_la_df["Chronic"]
X.head()

,Age,Veteran,Chronic_Time,Chronic_Condition,Adult_With_Child,Physical_Sexual_Abuse,Physical_Disability,Mental_Illness,Alcohol_Abuse,Drug_Abuse,Drug_Alcohol_History,HIV_Positive,Part_Time,Full_Time,Unemployed_Looking,Unemployed_Not_Looking
3592,28.0,0,1,1.0,0,0.0,0,0,1.0,1.0,1,0,0.0,0.0,0.0,0.0
3594,62.0,0,1,0.0,0,0.0,0,0,0.0,0.0,0,0,0.0,0.0,0.0,1.0
3600,28.0,0,1,0.0,0,0.0,0,0,0.0,0.0,1,0,0.0,0.0,0.0,0.0
3601,17.0,0,1,0.0,0,1.0,0,0,0.0,0.0,1,0,0.0,0.0,0.0,0.0
3602,24.0,0,1,1.0,0,1.0,0,0,0.0,0.0,1,0,0.0,0.0,0.0,0.0

In [95]:
import math
def preprop(data,  na_thresh = 0.8):
    log = []
    report = getStats(data)
    # print(report)
    replace_index = {}
    for i in report:
        # print(i)
        if i == "uncertain":            # report has a class of uncertain columns; Do nothing to them
            continue
            
        #If in any column, more than threshold percentage is empty, drop such columns
        if (report[i]["type"] == 'num' or report[i]["type"] == 'cat') and report[i]["na"] >= na_thresh :
            print("Dropping",i,report[i]["na"])
            data = data.drop(i, axis=1)
            
        else:
            data[i] = data[i].fillna(data[i].value_counts().index[0])
            # print("\treplaced nan",i,"remainig null",data[i].isna().sum())
            log.append(i + " : replaced Nan/Na with mean")

            # If column is categorical, encode them with numerical classes    
            if report[i]["type"] == 'cat' and i in data.columns:
                replace_index[i] = getEncodings(data[i])

    data = data.replace(replace_index)
    return data, log, replace_index # Returning cleaned data, log of changes made and categorical encodings dict (if any)



def getEncodings(o):
    o = list(set(o))
    print(o)
    o = sorted(o)
    enc = {cls: ind for ind, cls in enumerate(o)}
    return enc


def getStats(data):
    cols = data.columns
    report = {}
    report['uncertain'] = []
    for i in cols:
        report[i] = {}
        report[i]["na"] = data[i].isna().sum() / len(data)
        if "unique" in str(data[i].describe()):
            if len(data[i].unique()) <  0.25 * len(data):
                report[i]["type"] = "cat"
                report[i]["uniq"] = data[i].unique()
                report[i]["uniq_no"] = len(data[i].unique())
            else:
                report["uncertain"].append(i)
        else:
            report[i]["type"] = "num"
    return report

df_prepro, logs, encs = preprop(homeless_la_df)

['Sheltered 2015', 'Unsheltered 2013', 'Sheltered 2013', 'Sheltered 2016', 'Sheltered 2017', 'Unsheltered 2015', 'Unsheltered 2016', 'Unsheltered 2017', 'Unsheltered 2011']
['Transgender', 'Female', 'Male', 'Unknown']
['Latino', 'Other Ethnicity', 'Unknown', 'African American', 'European American']
['Black/African-American|White|Other                ', '(Black-African-American,White,Asian-Pacific-Islander)', 'Null', 'Black/African-American|Asian                      ', 'Black/African-American|White|Native Hawaiian/Pacif', '(Black-African-American,Something-Else)', '(Native Hawaiian or Other Pacific Islander,White)', 'White|Asian|Native Hawaiian/Pacific Islander', 'European American', 'Error', 'White|Asian', '(White, Other)', '(White,American-Indian-Alaskan-Native)', '(Black or African American,White)', 'Asian American', 'US Indian/Alaska Native', 'Black/African-American|White|Asian', 'Black/African-American|White', '(Native Hawaiian or Other Pacific Islander,Other)', 'White|Asian                                       ', 'Native Hawaiian/Pacific Islander', '(Black or African American,White,Other)', 'Asian-Pacific-Islander', '(White,American Indian or Alaska Native)', 'Refused', 'White / Caucasian', 'Multi-Racial / Other', 'African American', '(Asian,Other)', 'White|Asian|Other                                 ', 'Other                                             ', '(White,American Indian/Alaskan Native)', "Declined - Don't Know", 'Native Hawaiian/Pacific Islander|US Indian/Alaska', 'American Indian / Alaskan Native', '(Asian,Native Hawaiian or Other Pacific Islander)', '(Black or African American,Asian)', '(Black or African American,Other)', 'Native Hawaiian/Pacific Islander|US Indian/Alaska ', '(Black/African American,Asian/Pacific Islander)', 'Black/African-American|White|Other', 'White|Native Hawaiian/Pacific Islander            ', '(Black-African-American,White)', '(Black or African American,Native Hawaiian or Other Pacific Islander)', '(Asian,Native Hawaiian or Other Pacific Islander,Other)', "American Indian'Alaskan Native", '(American Indian or Alaska Native,Black or African American,White)', 'White|US Indian/Alaska Native                     ', 'US Indian/Alaska Native                           ', '(Black or African American,White,American Indian or Alaskan Native)', '(American Indian or Alaska Native,Asian,Black or African American,Native Hawaiian or Other Pacific Islander)', 'Black,White', 'Something-Else', 'Asian|Native Hawaiian/Pacific Islander            ', 'Black/African-American|Asian', 'White', 'Asian|Native Hawaiian/Pacific Islander|US Indian/A', 'Asian|Native Hawaiian/Pacific Islander', 'Black/African-American|White                      ', 'Multiple Ethnicities', 'Black/African-American|White|Asian|US Indian/Alask', '(Black/African American,White,American Indian/Alaskan Native)', 'Other', 'American Indian/Alaskan Native', '(Black/African American,American Indian/Alaskan Native)', 'American Indian or Alaska Native', 'White|Other', '(American Indian or Alaska Native,Asian,Black or African American,Native Hawaiian or Other Pacific Islander,White)', '(Black/African American,White)', '(American Indian or Alaska Native,Black or African American,Native Hawaiian or Other Pacific Islander)', 'Black/African-American', 'Hispanic / Latino', '(American-Indian-Alaskan-Native,Something-Else)', 'Black/African-American|US Indian/Alaska Native    ', 'Black', 'Black/African-American|Other                      ', 'Asian                                             ', '(Black-African-American,White,American-Indian-Alaskan-Native)', '(Black-African-American,American-Indian-Alaskan-Native)', 'US Indian/Alaska Native|Other                     ', 'Black or African American', '(American Indian or Alaska Native, White)', '(White,Something else)', 'Asian', '(Asian-Pacific-Islander,American-Indian-Alaskan-Native)', 'American-Indian-Alaskan-Native', '(White,American-Indian-Alaskan-Native,Something-Else)', '(White,Asian-Pacific-Islander)', 'US Indian/Alaska Native|Other', 'Black/African-American|Native Hawaiian/Pacific Isl', 'Native Hawaiian / Other Pacific Islander', 'White|Asian|US Indian/Alaska Native', 'Unknown', 'Other Value', 'Asian/Pacific Islander', 'BLANK', 'Black or African American, White', '(Black or African American,Asian,White)', '(Black-African-American,White,Something-Else)', 'White|Asian|Native Hawaiian/Pacific Islander      ', 'Asian and White', '(Black of African American,White)', 'Multirace', '(White,Asian-Pacific-Islander,Something-Else)', '(Black or African American,Native Hawaiian or Other Pacific Islander,White,Other)', 'Native Hawaiian or Other Pacific Islander, White', '(White,Asian-Pacific-Islander,American-Indian-Alaskan-Native)', 'Black / African-American', 'Black/African-American|White|Asian                ', 'White|Native Hawaiian/Pacific Islander|US Indian/A', 'Black/African-American|US Indian/Alaska Native', 'Unknown Code', 'American Indian or Alaska Native,White', 'Native-Hawaiin-Pacific-Islander', "Client doesn't know", 'Data not collected', '(Black-African-American,White,Asian-Pacific-Islander,American-Indian-Alaskan-Native,Something-Else)', 'Black/African-American|Other', 'Black/African American', 'Multi-Race', 'Native Hawaiian/Pacific Islander                  ', 'White|Native Hawaiian/Pacific Islander', '(Black-African-American,American-Indian-Alaskan-Native,Something-Else)', '(White,Ameican Indian/Alaska Native)', 'Black-African-American', 'Black-African-American, Native American', 'Pacific Islander', "Don't Know", '(White,Something-Else)', 'American Indian or Alaska Native, White', '(American Indian or Alaska Native, Black or African American)', 'American-Indian-Alaska-Native', '                                                  ', 'White                                             ', 'Black/African-American|White|Asian|Native Hawaiian', 'American Indian/Alaska Native', 'Black/African-American|Asian|Native Hawaiian/Pacif', '(American Indian or Alaska Native,Black or African American)', '(Asian,Black or African American)', '(Asian,White)', '(Black-African-American,Asian-Pacific-Islander,Something-Else)', 'Something else', 'Black or African-American', 'Black/African-American|White|US Indian/Alaska Nati', 'Native Hawaiian or Other Pacific Islander', 'White|US Indian/Alaska Native', '(Black-African-American,Asian-Pacific-Islander)', 'White|Other                                       ', 'Asian|US Indian/Alaska Native', 'Asian|US Indian/Alaska Native                     ', 'Native HI/Pacific Islander', 'White|Asian|US Indian/Alaska Native               ', 'Client refused', 'Black/African-American                            ', '(American Indian or Alaska Native,White)', 'Asian,White']
['Other Ethnicity', 'African American', 'European American', 'Unknown']
['4 or more times', 'unknown', '0 times', '2 to 3 times', 'less than 4- unspecified', '1 time']
['2 to 3 times', 'unknown', '1 time', '4 or more times']
['12+ months', '1-3 months', 'up to 1 month', 'unknown', 'less than 12 months- unspecified', '4-11 months']

In [97]:
df_prepro.columns

Index(['Unnamed: 0', 'Survey_Year', 'Birth_Year', 'Age', 'Gender', 'Ethnicity',
       'Race_Full', 'Race_Recode', 'Veteran', 'Chronic_Time',
       'Chronic_Condition', 'Chronic', 'Adult_With_Child',
       'Times_Homeless_3yrs', 'Times_Homeless_Past_Year',
       'Current_Stint_Duration', 'SPA', 'Census_Tract',
       'Physical_Sexual_Abuse', 'Physical_Disability', 'Mental_Illness',
       'Alcohol_Abuse', 'Drug_Abuse', 'Drug_Alcohol_History', 'HIV_Positive',
       'Part_Time', 'Full_Time', 'Unemployed_Looking',
       'Unemployed_Not_Looking'],
      dtype='object')

In [100]:
X = df_prepro.drop("Chronic", axis=1)
y = df_prepro["Chronic"]

X_train,X_test,Y_train,Y_test = train_test_split(X,y, test_size = 0.2,random_state =1)
X_train.shape

model = SVC()
model.fit(X_train,Y_train)

svm_preds = model.predict(X_test)
accuracy_score(Y_test,svm_preds)

0.7630373863714032

In [ ]:
corr = df_prepro.corrwith(df_prepro["Chronic"]) 
corr= corr.sort_values(ascending=False,key = lambda x : abs(x))
correlated_features = corr[:10].index.tolist()

X = df_prepro[correlated_features].drop("Chronic", axis=1)
y = df_prepro["Chronic"]

X_train,X_test,Y_train,Y_test = train_test_split(X,y, test_size = 0.2,random_state =1)
X_train.shape

model = SVC()
model.fit(X_train,Y_train)

svm_preds = model.predict(X_test)
accuracy_score(Y_test,svm_preds)

In [102]:
len(df_prepro),y.value_counts()

(73153, 0.0    55792
 1.0    17361
 Name: Chronic, dtype: int64)

In [90]:
homeless_la_df.Chronic.value_counts()

Series([], Name: Chronic, dtype: int64)

In [48]:
from sklearn.model_selection import train_test_split

X_train,X_test,Y_train,Y_test = train_test_split(X,Y, test_size = 0.2,random_state =1)
X_train.shape

(8297, 16)

In [39]:
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score

In [49]:
model = SVC()
model.fit(X_train,Y_train)

svm_preds = model.predict(X_test)
accuracy_score(Y_test,svm_preds)

0.9489156626506025

In [18]:
enc = OneHotEncoder(handle_unknown='ignore')

enc = OneHotEncoder()
enc.fit(homeless_la_df["Ethnicity"].unique().reshape(1, -1))
transformed = enc.transform(homeless_la_df["Ethnicity"].to_numpy().reshape(-1, 1))
#Create a Pandas DataFrame of the hot encoded column
ohe_df = pd.DataFrame(transformed, columns=enc.get_feature_names())
ohe_df
#concat with original data
# data = pd.concat([data, ohe_df], axis=1).drop(['Profession'], axis=1)

ValueError: ignored

In [12]:
homeless_la_df["Part_Time"]

0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
        ...
73148    1.0
73149    0.0
73150    0.0
73151    0.0
73152    0.0
Name: Part_Time, Length: 73153, dtype: float64